development:
  database_host: <database-host>
  database_username: <database-username>
  database_password: <database-password>

test:
  database_host: <database-host>
  database_username: <database-username>
  database_password: <database-password>

production:
  database_host: <database-host>
  database_username: <database-username>
  database_password: <database-password>
